* {
    font-family: 'Tahoma';
    font-size: 110%;
    touch-action: manipulation;
    border-radius: 10px;
    animation-name: all;
    animation-duration: 1s;
}
body {
    background-color: black;
    color: white;
}
@keyframes all {
    from {
      opacity: 0;
      scale: 0.2; 
    }
    to {
      scale: 1; 
    }
  }
#levelswrapper {
    text-align: center;
}
.levels {
    text-align: center;
}
h2 {
    font-weight: 900;
    font-size: 300%;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 0;
}
#panel {
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
#level {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
}
#back {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    transition: 0.25s;
} 
#back:hover {
    background-color: rgb(121, 121, 121);
}
#back:active {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    color:rgb(0, 0, 0);
}
#line1 .levelbtn {
    background-color: rgb(0, 0, 0);
}
#line1 .levelbtn {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    transition: 0.25s;
    font-size: 200%;
    font-weight: 900;
    padding-left: 10px;
    padding-right: 10px;
}
#line1 .levelbtn:hover {
    background-color: rgb(121, 121, 121);
}
#line1 .levelbtn:active {
    background-color: rgb(255, 255, 255);
    border-color: white;
    color:rgb(0, 0, 0);
}